
<ion-view title="" class="bg-home">
    <div class="bar bar-header bar-royal">
      <h1 class="title title-logo"><img src="img/logo.png" alt="" width="100" height="23"></h1>
    </div>
  <ion-content class="has-header bg-app">
    <div class="img-city">
      <img src="img/teresina.jpg" alt="" width="320" height="150" >
      <h2 class="name-city">Teresina</h2>
    </div>
    <div class="list menu-city">
      <a class="item item-icon-left item-icon-right" href="#/tab/cidade-info"> <i class="icon ion-information-circled"></i> A Cidade<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/ponto-turistico-listagem"> <i class="icon ion-location"></i> Pontos Turísticos<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/galeria-fotos"> <i class="icon ion-images"></i> Fotos<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/bar-listagem"> <i class="icon ion-beer"></i> Bares<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/restaurante-listagem"> <i class="icon ion-pizza"></i> Restaurantes<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/compra-listagem"> <i class="icon ion-card"></i> Compras <i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/aeroporto-listagem"> <i class="icon ion-plane"></i> Aeroportos<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/hotel-listagem"> <i class="icon ion-ios7-home"></i> Hotéis<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#/tab/hospital-listagem"> <i class="icon ion-ios7-medkit"></i> Hospitais<i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-model-s"></i> Solicitar Taxi <i class="icon ion-chevron-right"></i></a>
      <a class="item item-icon-left item-icon-right" href="#"> <i class="icon ion-model-s"></i> Alugar carro <i class="icon ion-chevron-right"></i></a>
    </div>

  </ion-content>
</ion-view>
