<ion-view title="Bem-vindo" >

    <ion-content class="bg-app widget-welcome">
        <div class=" padding">
            <div class="col text-center">
                <img src="img/logo.png" alt="">
            </div>
        </div>

        <div class=" padding">
            <div class="col text-center">
                <h4 class="light">Selecione um de nossos guias e aproveite</h4>

            </div>
        </div>

        <div class=" padding">
            <div class="col text-center">
                <button class="button  button-royal icon-left ion-map" ng-click="welcome(selectcity)">
                    Nossos Guias
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
